html {
    font-size: 10px;
    background-image: url("../images/biblioteka.jpg");
    background-repeat: cover;
    box-sizing: border-box;
    
}

body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
    width: 100vw;
}

/*------- popup modal -----*/
.bg-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /*display: none;*/
}

.modal-content{
    position: relative;
    width: 50rem;
    height: 40rem;
    background-color: white;
    border-radius: 0.8rem;
    text-align: center;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.close{
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 4rem;  
    font-weight: 800;
    transform: rotate(45deg);
    cursor: pointer;  
    outline: none;
    user-select: none;
}


/*------- header--------*/
header {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 3rem;
    height: auto;
    width: auto;
    background-color: rgba(39, 131, 236, 0.4);
}

header button {
    position: absolute;
    bottom: 1.5rem;
    left: 4rem;
    padding: 1rem 2rem 1rem 0.8rem;
    font-size: 1.5rem;
    font-family: 'Varela round', sans-serif;
    color: white;
    background-color: #33c55f;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    outline: none;
}

header button::before {
    content: "+ ";
    transition: 0.5s;
    opacity: 0;
}

header button:hover::before {
    padding-left: 1rem;
    opacity: 1;
}

header h1 {
    font-size: 7rem;
    font-family: 'Varela round', sans-serif;
    color: whitesmoke;
}

#books {
    display: grid;
    grid-template-columns: repeat(5, minmax(20rem, 1fr));
    margin: 3rem 3rem;
}

.book {
    margin: 3rem 2rem;
    padding: 2rem;
    background-color: rgb(10, 59, 59);
    border-radius: 10px;
}

.book {
    font-size: 1.8rem;
    font-family: 'Loto', sans-serif;
    color: rgb(247, 225, 225);
}