html {
    font-size: 10px;
    background-image: url("../images/biblioteka.jpg");
    background-repeat: cover;
    box-sizing: border-box;
    font-family: 'Varela round', sans-serif;
    
}

body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
    width: 100vw;
}

/*------- popup modal -----*/
.bg-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content{
    position: relative;
    width: 50rem;
    background-color: white;
    border-radius: 0.8rem;  
    padding: 4rem;
}

.modal-content h1{
    font-size: 2rem;
    font-family: 'Varela round', sans-serif;
}

.modal-content input{
    width: 92%;
    font-size: 1.7rem;
    font-family: 'Varela round', sans-serif;
    padding: 1rem 1.5rem;
    margin: 1rem auto;
    background-color: rgb(214, 220, 238);
    color: rgb(28, 79, 235);
    border: none;
    border-radius: 3px;
}
.modal-content input::placeholder{
    color: rgb(90, 111, 172);
}

.modal-content select{
    width: 98%;
    font-size: 1.7rem;
    font-family: 'Varela round', sans-serif;
    padding: 1rem 1.5rem;
    margin: 1rem auto;
    background-color: rgb(214, 220, 238);
    border: none;
    border-radius: 3px;
    color: rgb(90, 111, 172);
}

.modal-content button{
    float: right;
    padding: 1rem 2rem 1rem 0.8rem;
    margin: 2rem 1rem 0rem;
    font-size: 1.5rem;
    font-family: 'Varela round', sans-serif;
    color: white;
    background-color: #33c55f;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    outline: none;
    
}
.modal-content button::before{
    content: "+ ";
    opacity: 0;
    transition: 0.5s;
}
.modal-content button:hover::before{
    opacity: 1;
    padding-left: 0.8rem;
}

#cancel{
    background-color: #c21f1f;
}
#cancel::before{
    content: "x ";
}

.close{
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 4rem;  
    font-weight: 800;
    transform: rotate(45deg);
    cursor: pointer;  
    outline: none;
    user-select: none;
}


/*------- header--------*/
header {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 3rem;
    height: auto;
    width: auto;
    background-color: rgba(39, 131, 236, 0.4);
}

.buttonNewbook {
    position: absolute;
    bottom: 1.5rem;
    left: 4rem;
    padding: 1rem 2rem 1rem 0.8rem;
    font-size: 1.5rem;
    font-family: 'Varela round', sans-serif;
    color: white;
    background-color: #33c55f;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    outline: none;
}

.buttonNewbook::before {
    content: "+ ";
    transition: 0.5s;
    opacity: 0;
}

.buttonNewbook:hover::before {
    padding-left: 1rem;
    opacity: 1;
}

header h1 {
    font-size: 7rem;
    font-family: 'Varela round', sans-serif;
    color: whitesmoke;
}


/*--------knjige---------*/
#books {
    display: grid;
    grid-template-columns: repeat(5, minmax(20rem, 1fr));
    margin: 3rem 3rem;
}

.book {
    margin: 3rem 2rem;
    padding: 2rem;
   /* background-color: rgba(82, 5, 5, 0.8);*/
    background-color: rgba(7, 17, 59, 0.8);
    border-radius: 10px;
    font-size: 2rem;
    font-family: 'Loto', sans-serif;
    color: rgb(247, 225, 225);
}
.book p{
    margin: 2rem auto;
}
.title{
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
}
/*.read{
    color: green;
}*/